nav {
  background: #111;
  box-shadow: 0 26px 36px 0 rgba(0, 0, 0, 0.2);
}

nav ul li a {
  color: #8490ff;
}

nav ul li a:hover {
  color: #ffffff;
  background: #8490ff;
}

nav .menu-btn i {
  color: #8490ff;
}


@media (max-width: 920px) {
  nav ul {
    background: #111;
  }

  #click:hover {
    color: #c8d8e4;
  }

}

.ddd a {
  background-color: #8490ff;
  color: #ffffff;
}

.ddd a:hover {
  color: #111;
  background-color: #c8d8e4;
}

body {
  background-color: rgb(42, 42, 46, 1);
}

.txt-resume {
  color: #ffffff;
}

.resumebutton {
  color: white;
  background-color: #8490ff;
  border: 2px solid #8490ff;
}

.resumebutton:hover {
  color: #38383d;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.foot {
  background-color: black;
}

.foot-text {
  font-size: 27px;
  color: white;
}

.foot-mail {
  width: 200px;
  height: 25px;
  background-color: black;
  color: white;
  border: none;
}

.foot-icon {
  font-size: 25px;
  padding: 4px;
  background-color: black;
}

.fa-brands {
  color: white;
}