/* footer */

.foot {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 75px 0;
    background-color: black;
}

.foot-box {
    margin: 10px;
    text-align: left;
    font-size: 25px;
    min-width: 215px;
    min-height: 75px;
    padding: 10px 40px;
}

.foot-text {
    font-size: 27px;
    color: white;
}

.icon-main{
    padding: 0 10px;
}

.foot-mail {
    width: 200px;
    height: 25px;
    background-color: black;
    color: white;
    border: none;
}

.mail-butt {
    height: 25px;
    width: 25px;
    background-color: #8490ff;
    border: none;
}

.mail-butt:hover {
    background-color: #2f42ec;
}

.foot-icon {
    font-size: 25px;
    padding: 4px;
    background-color: black;
}

.fa-brands {
    color: white;
}

.fa-instagram:hover {
    color:
        /* #f09433  */
        /* #e6683c  */
        /* #dc2743  */
        /* #cc2366 */
        #bc1888;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-github:hover {
    color: #616165;
}

.message {
    text-decoration: none;
    font-size: 15px;
    color: #8490ff;
    /*  2f42ec */
}

.message:hover {
    text-decoration: underline;
    color: #2f42ec;
    /* #001aff */
}
