* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 80px;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #111;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  box-shadow: 0 26px 36px 0 rgba(0, 0, 0, 0.2);
}

nav .logo {
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #8490ff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 5px;
}

nav ul li a:hover {
  color: #ffffff;
  background: #8490ff;

}

nav .menu-btn i {
  color: #8490ff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  #click:hover {
    color: #c8d8e4;
  }

}

.ddd a {
  background-color: #8490ff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 5px;
  color: #ffffff;
}

.ddd a:hover {
  color: #111;
  background-color: #c8d8e4;
}
