* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

main {
    margin: auto;
    max-width: 1140px;
    color: white;
    height: auto;
    max-height: 650px;
    background: center url(paavan1.jpg);
    background-size: cover;
}

.home-info {
    padding: 20px;
    text-align: left;
}

.home-text {
    display: flex;
    flex-wrap: wrap;
}

.hello {
    color: #c4c4c4;
    font-size: 25px;
}

.me {
    color: #c4c4c4;
    font-size: 30px;
    padding: 5px 0px 0px 0px;

}

.myname {
    color: #8490ff;
    font-size: 35px;
    padding: 0px 0px 0px 15px;

}

.resume-container {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    /* padding: 440px 0px 0px 0px; */
}

@media only screen and (max-width: 540px) {
    .resume-container {
        padding: 0;
    }
}

.txt-resume {
    margin: auto;
    width: 120px;
    font-size: 16px;
    padding: 20px 0px 20px 20px;
    float: left;
    text-align: left;

}

@media only screen and (max-width: 540px) {
    .txt-resume {
        font-size: 14px;
    }
}

.resumebutton {
    padding: 10px 20px;
    margin: 15px;
    font-family: "Montserrat", Serif;
    font-size: 20px;
    color: white;
    background-color: #8490ff;
    border: 2px solid #8490ff;
    cursor: pointer;
    border-radius: 2px;
}

.resumebutton:hover {
    color: #8490ff;
    background-color: #38383d;
    border: 2px solid #38383d;

}

.my-image {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 540px) {
    .my-image {
        opacity: 1;
    }
}

@media only screen and (max-width: 540px) {
    main {
        background: none;
    }
}

@media only screen and (max-width: 540px) {
    .imageme {
        width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 5px 10px 0 #8490ff;
    }
}

.more-cointainer {
    background-color: #8490ff;

}

.explore-container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-main {
    padding: 30px 0px;
    margin: auto;
    max-width: 1104px;
    /* background-color: #ffffff; */
}

.txt-explore {
    font-size: 20px;
    color: #ffffff;
}

.explorebutton {
    padding: 10px 20px;
    margin: 15px;
    font-family: "Montserrat", Serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #38383d;
    border: 2px solid #38383d;
    cursor: pointer;
    border-radius: 5px;
}

.explorebutton:hover {
    color: #38383d;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}